<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<meta charset="UTF-8">
<title>게시판 리스트</title>

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
<div class="container">
		<h2>게시판 목록</h2>
		<table class = "board_list">
				<colgroup>
					<col width="15%">
					<col width="*"/>
					<col width="15%">
					<col width="20%">
				</colgroup>
			<thread>
				<tr>
					<th scope ="col" style="text-align:center;">글 번호</th>
					<th scope ="col">제목</th>
					<th scope ="col" style="text-align:center;">조회수</th>
					<th scope ="col" style="text-align:center;">작성일</th>					
				</tr>
			</thread>
			<tbody>
				<!--  리스트의 사이즈 만큼 반복하는 구문 -->
				<tr th:if="${#lists.size(list)} > 0" th:each="vo : ${list}">
					<td th:text="${vo.boardIdx}"></td>
					<td class = "title">
						<a href = "/board/boardDetail?boardIdx=" th:attrappend="href=${vo.boardIdx}" th:text="${vo.title}"></a>
					</td>
					<td th:text="${vo.hitCnt}"></td>
					<td th:text="${vo.createdDatetime}"></td>

				</tr>
			</tbody>
		</table>
		<a href="/board/boardWrite" class="btn">글쓰기</a>
			<br/><br/><br/><br/><br/><br/><br/><br/>
	</div>
	</div>





</html>